<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
<h1>Bienvenue sur mon site pour savoir si vous avez fait une bonne affaire</h1>
</head>

 <body>
    <p>Le resultat de la requete se trouve dans la console</p>
<p> vous y trouverez le prix de votre bien sur leboncoin ainsiq ue le prix estimer par m2 du site meilleur agent bonne journée</p>
</body>
<div id="toto">


</div>

</html>